.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 40px 60px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header > nav > ul {
  display: flex;
  gap: 70px;
}
.Header > nav > ul > li {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1.5px;

  transition: color ease-in-out 0.3s;
}
