.Viewport {
  width: calc(4 * 100vw);
  height: 100vh;
  margin-left: 0;
  transition: margin ease-in-out 0.3s;

  background: linear-gradient(
    to right top,
    var(--clr-gradient-1),
    var(--clr-gradient-4)
  );
}

.Viewport > div {
  float: left;
}
