@font-face {
  font-family: "AlfaSlabOne";
  src: url(./Fonts/AlfaSlabOne-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./Fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: "Bungee";
  src: url(./Fonts/Bungee-Regular.ttf);
}

:root {
  /*Font Families*/
  --font-family-text: "Roboto";
  --font-family-titles: "Bungee";

  /*Colors*/
  --clr-primary: #00406c;
  --clr-secondary: #6b4000;
  --clr-black: #001523;
  --clr-white: #ebf7ff;
  --clr-gradient-1: #ebf7ff;
  --clr-gradient-2: #BBC8D2;
  --clr-gradient-3: #60717C;
  --clr-gradient-4: #374955;

  --clr-background-black: var(--clr-black);
  --clr-background-white: var(--clr-white);

  /*Sizing*/
  --padding-container: 60px 0 60px 0;
}

/*Overrides*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  font-family: var(--font-family-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titles);
}

h1{
  font-size: 100px;
  letter-spacing: 5px;
}
h2{
  font-family: var(--font-family-text);
  font-size: 35px;
}

/*Color classes*/
.clr-white {
  color: var(--clr-white);
}
.clr-black {
  color: var(--clr-black);
}
[class*="clr-primary"] {
  color: var(--clr-primary);
}
.clr-primary-hover:hover {
  color: var(--clr-secondary);
}
.clr-secondary {
  color: var(--clr-secondary);
}

.bg-white {
  background-color: var(--clr-background-white);
}
.bg-black {
  background-color: var(--clr-background-black);
}

/*Style Classes*/
.page{
  width: 100vw;
  min-height: 100vh;
}
[class*="container"]{
  width: 100%;
  padding: var(--padding-container);
}
.first-container{
  margin-top: 10vh;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.text-center{
  text-align: center;
}
